
<div class="view-detail-container">

  <div class="view-detail-wrapper">

   @if (id==='begginer') {

    
    <div class="video-box">
<iframe width="350" height="250" src="https://www.youtube.com/embed/W6f_NLP7MoA?si=tUrmkfIfxTaCgjfZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   }



   @if (id==='intermidiate') {


    <div class="video-box">
      <iframe width="350" height="250" src="https://www.youtube.com/embed/KUPyonSZxIU?si=SeqANWmjgjRHeDEq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   }
   @if (id==='advanced') {
<div class="video-box">
    <iframe width="350" height="250"  src="https://www.youtube.com/embed/yiSh6HNNmyw?si=M9VZJUC-3CmqDzbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>"title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    
    

   }

  </div>



</div> 