.view-detail-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.view-detail-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 30px;

}