
<div>

   @if (id==='begginer') {

    
    <div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/SqbdkKYaqBc?si=4Fq1JBA0cvUdUbrF"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
   }



   @if (id==='intermidiate') {

    
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/df0IeWbhKtE?si=-rJXzbkPPYI4nhnk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   }
   @if (id==='advanced') {



    <iframe width="560" height="315"  height="315" src="https://www.youtube.com/embed/yiSh6HNNmyw?si=M9VZJUC-3CmqDzbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>"title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    

   }




</div> 